/*-------------------------------------------------------------------------------------
Theme Name:	Keepsake
Theme URI: 	http://themes.iki-bir.com/keepsake
Version:	1.0.3
Author:		elemis
-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
[TABLE OF CONTENTS]

	00. RESET
	01. GENERAL
	02. BUTTON
	03. HEADER
	04. FIXED MENU
	05. ISOTOPE PORTFOLIO GRID
	06. OVERLAY
	07. SLIDER PRO
	08. BASIC GALLERY
	09. SERVICES
	10. BLOG
	11. AUTHOR
	12. COMMENTS
	13. FORMS
	14. TOOLTIP
	15. TABS
	16. ACCORDION / TOGGLE
	17. PROGRESS BAR
	18. PRICING TABLE
	19. PARALAX
	20. SOCIAL ICONS
	21. FANCYBOX
	22. FEATURES
	23. DIVIDERS
	24. RESPONSIVE

	text: #707070
	hover: #ef5f60
	headings: #4d4d4d
	meta: #9f9f9f;
	dark wrapper background: #eeeeee;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'bebas_neuebold';
	font-family: 'bebas_neuebook';
	font-family: 'bebas_neue_regularregular';
	
-------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	00. RESET
/*-----------------------------------------------------------------------------------*/
.blocker
{
    z-index: 199 !important;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
.fit-vids-style {
    display: none
}
figure {
    margin: 0;
    padding: 0;
}
figure img {
    height: auto
}
iframe {
    border: none
}
::selection {
    background: #fefac7; /* Safari */
    color: #2f2f2f;
}
::-moz-selection {
    background: #fefac7; /* Firefox */
    color: #2f2f2f;
}
@-webkit-keyframes rotation { 
	from {
	    -webkit-transform: rotate(0deg)
	}
	to {
	    -webkit-transform: rotate(359deg)
	}
}
@-moz-keyframes rotation { 
	from {
	    -moz-transform: rotate(0deg)
	}
	to {
	    -moz-transform: rotate(359deg)
	}
}
@-o-keyframes rotation { 
	from {
	    -o-transform: rotate(0deg)
	}
	to {
	    -o-transform: rotate(359deg)
	}
}
@keyframes rotation { 
	from {
	    transform: rotate(0deg)
	}
	to {
	    transform: rotate(359deg)
	}
}
body {
    overflow-x: hidden !important
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 9999999;
}
#status {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18px 0 0 -18px;
}
.spinner {
    height: 36px;
    width: 36px;
    position: relative;
    -webkit-animation: rotation .8s infinite linear;
    -moz-animation: rotation .8s infinite linear;
    -o-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
    border-left: 3px solid rgba(239, 95, 96,.15);
    border-right: 3px solid rgba(239, 95, 96,.15);
    border-bottom: 3px solid rgba(239, 95, 96,.15);
    border-top: 3px solid rgba(239, 95, 96,.8);
    border-radius: 100%;
}
/*-----------------------------------------------------------------------------------*/
/*	01. GENERAL
/*-----------------------------------------------------------------------------------*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: #707070;
    font-size: 15px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
body,
li,
address {
    line-height: 26px
}
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}
p {
    margin: 0 0 15px
}
a {
    color: #ef5f60;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
a.nocolor {
    color: #707070
}
a.nocolor:hover {
    color: #ef5f60
}
a:hover,
a:focus {
    color: #232323;
    text-decoration: none;
}
.colored {
    color: #ef5f60
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'bebas_neuebold';
    margin-top: 0;
    color: #4d4d4d;
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1.5px;
}
h2 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.5px;
}
h3 {
    font-size: 20px;
    line-height: 24px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
}
h5 {
    font-size: 15px;
    line-height: 22px;
}
h6 {
    font-size: 14px;
    line-height: 20px;
}
.intro h1 {
    font-family: 'bebas_neuebook';
    font-size: 38px;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.page-title h1,
.page-title h2 {
    font-family: 'bebas_neuebook';
    font-size: 32px;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
}
.page-title .inner {
    padding-top: 40px;
    padding-bottom: 40px;
}
.onepage .page-title,
.onepage .intro {
    text-align: center;
    position: relative;
}
.onepage .page-title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -9px;
    width: 9px;
    height: 9px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #eeeeee;
}
.intro p {
    margin: 0
}
.lead {
    font-family: 'bebas_neuebook';
    font-size: 28px;
    line-height: 30px;
    color: #4d4d4d;
    letter-spacing: 1.5px;
}
.onepage section .lead,
.parallax .lead {
    font-family: inherit;
    letter-spacing: normal;
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    color: #707070;
}
h2.post-title {
    margin-bottom: 10px;
    font-size: 22px;
}
.classic-blog .post-title {
    font-size: 25px;
    line-height: 30px;
}
h3 span.meta:before {
    display: inline-block;
    content: "-";
    padding-right: 5px;
    padding-left: 3px;
}
.post-title a {
    color: #4d4d4d
}
.post-title a:hover {
    color: #ef5f60
}
.section-title {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}
.section-title:after {
    content: "--";
    display: inline-block;
    padding-left: 5px;
    color: #ef5f60;
}
.section-title.text-center:before {
    content: "--";
    display: inline-block;
    padding-right: 5px;
    color: #ef5f60;
}
.team h3 {
    margin-bottom: 5px
}
.team p {
    margin-bottom: 20px
}
.team figure {
    margin-bottom: 15px
}
.dark-wrapper {
    background: #eeeeee
}
.black-wrapper {
    background: #2d2d30;
    color: #bdbdbd;
}
.black-wrapper h1,
.black-wrapper h2,
.black-wrapper h3,
.black-wrapper h4,
.black-wrapper h5,
.black-wrapper h6 {
    color: #e3e3e3
}
.black-wrapper .lead {
    color: #9d9d9d
}
.black-wrapper a {
    color: #FFF
}
.black-wrapper a:hover {
    color: #ef5f60
}
.inner {
    padding-top: 70px;
    padding-bottom: 70px;
}
.inner-small {
    padding-top: 50px;
    padding-bottom: 50px;
}
ul {
    padding: 0 0 0 18px
}
ol {
    padding: 0 0 0 20px
}
ul,
ol {
    margin-bottom: 15px
}
ul.circled {
    padding: 0;
    list-style: none;
}
ul.circled li:before {
    content: '●';
    margin-right: 10px;
    font-weight: normal;
    vertical-align: top;
    display: inline-block;
    color: #ef5f60;
    font-size: 11px;
}
.thin {
    width: 80%;
    margin: 0 auto;
}
.dropcap {
    font-weight: 800;
    display: block;
    float: left;
    font-size: 49px;
    padding: 0;
    margin: 0;
    margin: 12px 8px 0 0;
    text-transform: uppercase;
}
hr {
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.11);
    padding-bottom: 40px;
    margin-bottom: 70px;
}
.alert {
    padding-bottom: 13px
}
blockquote {
    background: #eeeeee;
    border: 0;
    padding: 30px 35px;
    margin: 20px 0 0 0;
}
blockquote p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
}
blockquote small {
    margin-top: 15px;
    font-family: 'bebas_neuebold';
    font-size: 16px;
    color: #4d4d4d;
    letter-spacing: 1px;
    font-weight: normal;
}
.testimonials {
    list-style: none
}
.testimonials blockquote {
    background: none;
    padding: 0;
    margin: 0;
}
.testimonials blockquote p {
    background: #eeeeee;
    padding: 30px 35px;
    position: relative;
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 28px;
}
.testimonials blockquote small:before {
    content: ""
}
.testimonials [class*="col-"] {
    margin-bottom: 30px
}
.testimonials blockquote small {
    float: right
}
.testimonials [class*="col-"] blockquote p:after {
    border-color: #edf1f2 transparent;
    border-style: solid;
    border-width: 20px 0 0 20px;
    bottom: -20px;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    right: 30px;
}
.footer a {
    color: #bdbdbd !important
}
.footer a:hover {
    color: #ef5f60 !important
}
footer [class*="col-"] .widget {
    margin-top: 25px
}
footer [class*="col-"] .widget:first-child {
    margin-top: 0
}
footer ul.tag-list li a {
    color: #e3e3e3;
    background: #242426;
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu li {
    display: inline;
    padding-left: 10px;
    font-family: 'bebas_neuebold';
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1.5px;
}
.footer-menu li:before {
    display: inline-block;
    content: "|";
    padding-right: 12px;
}
.footer-menu li:first-child:before {
    display: none
}
.contact-info {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-info i {
    margin-right: 7px;
    color: #e3e3e3;
}
footer ul.circled li:before {
    color: #e3e3e3
}
.sub-footer {
    background: #29292c;
    padding: 35px 0;
}
.sub-footer p {
    padding: 0;
    margin: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	02. BUTTON
/*-----------------------------------------------------------------------------------*/
.btn,
.btn-submit {
    color: #fff !important;
    background: #ef5f60;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 10px 17px 8px;
    font-weight: normal;
    text-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    font-family: 'bebas_neuebold';
    font-size: 15px;
    letter-spacing: 1px;
}
@-moz-document url-prefix() { 
	.btn,
	.btn-submit {
	    padding: 10px 17px 10px
	}
}
.text-center .btn {
    margin: 0 4px
}
.btn-large {
    padding: 12px 21px
}
.btn.btn-red {
    background: #ef5f60
}
.btn.btn-pink {
    background: #e767a1
}
.btn.btn-purple {
    background: #8c6fdf
}
.btn.btn-blue {
    background: #689cd2
}
.btn.btn-green {
    background: #65c4c4
}
.btn.btn-gray {
    background: #5d5d5d
}
.btn.btn-brown {
    background: #a17963
}
.btn.btn-yellow {
    background: #ffcb17
}
.btn.btn-lime {
    background: #b9d958
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span,
.open >.dropdown-toggle.btn-default,
footer ul.tag-list li a:hover {
    background: #e05152;
    color: #fff !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
    background: #e05152 !important
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
    background: #da5e96 !important
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
    background: #8266d1 !important
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
    background: #5d90c5 !important
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
    background: #5bb8b8 !important
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
    background: #4f4f4f !important
}
.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active,
.btn-brown.active {
    background: #8d6d5c !important
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {
    background: #f7c108 !important
}
.btn-lime:hover,
.btn-lime:focus,
.btn-lime:active,
.btn-lime.active {
    background: #adcb53 !important
}
.btn.fixed-width {
    width: 155px
}
.btn i {
    margin-right: 5px
}
.social-dropdown .btn i {
    margin: 0
}
.share.btn {
    padding: 10px 13px !important
}
.share.btn.dropdown-toggle {
    margin-bottom: 0
}
.share-links {
    padding: 0 !important;
    margin-top: 10px !important;
    list-style: none;
    min-width: 0 !important;
    width: auto !important;
}
.share-links li {
    cursor: pointer;
    display: block;
    border: 0 !important;
    line-height: normal !important;
}
.share-links li a {
    padding: 0 !important;
    display: block;
    line-height: normal !important;
    margin: 0 !important;
}
.share-links li a i {
    padding: 12px 13px 12px 14px !important;
    line-height: normal !important;
    display: block;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.share-links .icon-s-facebook,
.click-share .share-facebook {
    background: #4470cf
}
.share-links .icon-s-facebook:hover,
.click-share .share-facebook:hover {
    background-color: #4066b9
}
.share-links .icon-s-twitter,
.click-share .share-twitter {
    background: #5daed5
}
.share-links .icon-s-twitter:hover,
.click-share .share-twitter:hover {
    background-color: #569cbe
}
.share-links .icon-s-pinterest,
.click-share .share-pinterest {
    background: #c53942
}
.share-links .icon-s-pinterest:hover,
.click-share .share-pinterest:hover {
    background-color: #b0363e
}
.click-share {
    margin-top: 15px
}
.click-share ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.click-share ul li {
    cursor: pointer;
    display: inline;
    padding: 0 1px;
}
.click-share ul li .btn {
    margin: 0
}
/*-----------------------------------------------------------------------------------*/
/*	03. HEADER
/*-----------------------------------------------------------------------------------*/
.navbar-header {
    float: none !important
}
.navbar .container {
    padding: 0
}
.navbar {
    margin: 0;
    border-radius: 0;
    border: none;
    position: fixed;
    z-index: 8000;
    min-height: inherit;
    width: 100%;
    background: none;
}
.navbar-brand {
    padding: 48px 0 0 0
}
.navbar-brand img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ();
    image-rendering: -webkit-optimize-contrast;
    height: 44px;
    width: inherit;
}
.navbar-collapse {
    width: auto;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-nav {
    margin: 60px 0 50px
}
.navbar-nav > li {
    margin-left: 45px
}
.navbar-nav > li > a {
    font-family: 'bebas_neuebold';
    font-size: 15px;
    font-weight: normal;
    color: #4d4d4d;
    padding: 0;
    letter-spacing: 1.5px;
    position: relative;
}
.nav > li > a:focus {
    background: none;
    color: #f5f5f5;
}
.nav > li > a:hover {
    background: none;
    color: #ef5f60;
}
.nav > li.current > a {
    background: none;
    color: #ef5f60;
}
.navbar .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 150px;
    border: none;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top: 10px;
}
.navbar .dropdown-menu:before {
    content: "";
    width: 0;
    display: block;
    position: absolute;
    height: 10px;
    top: 0;
    left: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #38393b;
}
.navbar .dropdown-menu.dropdown-menu-right:before {
    right: 15px !important;
    left: auto;
}
.navbar .dropdown-menu.share-links.dropdown-menu-right:before {
    left: 50% !important;
    margin-left: -5px;
    border-bottom: 5px solid #4470cf;
}
.navbar .dropdown-menu li {
    background: #38393b;
    border: none;
    border-top: 1px solid rgba(0,0,0, 0.15);
}
.navbar .dropdown-menu li:first-child {
    border: none
}
.navbar .dropdown-menu li a {
    background: none;
    border: none;
    color: #FFF;
    padding: 14px 20px 12px;
    font-family: 'bebas_neuebold';
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a.active {
    padding: 14px 20px 12px;
    filter: none;
    line-height: 1;
    color: #ef5f60;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    background: none;
    color: #ef5f60;
}
.navbar .nav > li > .dropdown-menu:after {
    display: none
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
    background: none;
    color: #ef5f60;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn.responsive-menu {
    padding: 7px 12px;
    margin: 0;
    display: none;
    font-size: 15px;
}
.btn.responsive-menu i {
    margin: 0
}
.btn.responsive-menu i:before {
    content: '\f0c9';
    font-family: 'fontello';
    display: block;
    font-style: normal;
    font-weight: normal;
    width: 1em;
    margin-right: 0;
    text-align: center;
}
.btn.responsive-menu.opn i:before {
    content: '\e819'
}
/*-----------------------------------------------------------------------------------*/
/*	04. FIXED MENU
/*-----------------------------------------------------------------------------------*/
.offset {
    display: block;
    padding-top: 141px;
}
.navbar.default {
    width: 100%;
    position: absolute;
}
.navbar.fixed {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgba(255,255,255,0.93);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.navbar.fixed .navbar-nav {
    margin: 20px 0 10px
}
.navbar.fixed .navbar-brand {
    padding: 14px 0 0 0
}
.navbar.fixed .navbar-brand img {
    height: 33px;
    width: auto;
}
/*-----------------------------------------------------------------------------------*/
/*	05. ISOTOPE PORTFOLIO GRID
/*-----------------------------------------------------------------------------------*/
.full-portfolio {
    overflow: hidden
}
.classic-masonry .isotope {
    margin-bottom: -10px;
    margin-right: -10px;
}
.full-portfolio .isotope {
    margin-right: -5px
}
.full-portfolio .isotope .item,
.full-portfolio .isotope .grid-sizer {
    width: 20%;
    padding: 0 6px 6px 0;
}
.isotope:after {
    content: '';
    display: block;
    clear: both;
}
.isotope .item {
    float: left
}
.classic-masonry .isotope .item {
    width: 25%;
    height: auto;
    padding: 0 10px 10px 0;
}
.classic-masonry .isotope .details {
    padding: 18px 20px 20px 20px;
    background: #f5f5f5;
    text-align: center;
}
.classic-masonry .isotope .details .meta {
    margin-bottom: 0;
    font-size: 16px;
}
.classic-masonry .isotope .details .post-title {
    margin-bottom: 0
}
.classic-masonry figure img {
    width: 100%
}
.pull-right .btn {
    margin-right: 0
}
.btn.dropdown-toggle {
    margin-bottom: 0;
    margin-top: -10px;
}
.button-group.dropdown-menu {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 15px;
    background-color: #38393b;
    border-bottom: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.button-group.dropdown-menu:before {
    content: "";
    width: 0;
    display: block;
    position: absolute;
    height: 10px;
    top: -10px;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #38393b;
}
.button-group.dropdown-menu button {
    background: none;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.15);
    display: block;
    color: #FFF;
    padding: 7px 20px;
    font-family: 'bebas_neuebold';
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    text-align: left;
}
.button-group.dropdown-menu button.is-checked {
    color: #ef5f60
}
.button-group.dropdown-menu button {
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.button-group.dropdown-menu button:hover {
    color: #ef5f60 !important
}
.button-group.dropdown-menu button:first-child {
    border: none
}
.item-details {
    padding: 0;
    margin: 0;
    list-style: none;
}
.item-details li {
    margin-bottom: 15px
}
.item-details li h4 {
    margin-bottom: 0
}
.primary figure img {
    width: 100%
}
/*-----------------------------------------------------------------------------------*/
/*	06. OVERLAY
/*-----------------------------------------------------------------------------------*/
figure {
    display: block;
    overflow: hidden;
    position: relative;
}
.items li figure img {
    display: block;
    width: 100%;
}
figure li a,
figure li a img {
    display: block;
    overflow: hidden;
    position: relative;
}
figure img {
    display: inline;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
}
figure a .text-overlay {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    padding: 50px;
    background: #222;
    background: rgba(239, 95, 96, 0.96);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
figure a:hover .text-overlay {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
figure a .text-overlay .info {
    text-align: center;
    top: 50%;
    width: 100%;
    left: 0;
    position: absolute;
    margin-top: -12px;
}
figure a .text-overlay .info span {
    padding: 12px 21px;
    font-family: 'bebas_neuebold';
    font-size: 17px;
    letter-spacing: 1px;
    color: #FFF;
}
.icon-overlay {
    display: block;
    overflow: hidden;
    position: relative;
}
.icon-overlay img {
    display: block;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
}
.icon-overlay a .icn-more {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    background: #222;
    background: rgba(239, 95, 96, 0.96);
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.icon-overlay a:hover .icn-more {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.icon-overlay a .icn-more:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    text-align: center;
    content: '\f517';
    line-height: 1;
    color: #FFF;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 8px 10px;
    font-size: 16px;
    top: 50%;
    margin: -17px 0 0 -17px;
}
.icon-overlay.icn-enlarge a .icn-more:before {
    content: '\f50d'
}
/*-----------------------------------------------------------------------------------*/
/*	07. SLIDER PRO
/*-----------------------------------------------------------------------------------*/
.sp-arrow {
    font-family: 'fontello' !important;
    text-shadow: none;
    color: #595959;
    width: 40px;
    height: 40px;
    font-weight: 500;
    line-height: 40px;
    font-size: 20px;
    background: #FFF;
    text-align: center;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.sp-arrow:hover {
    background: #ef5f60;
    color: #FFF;
}
.sp-previous-arrow:before {
    content: '\e75d' !important
}
.sp-next-arrow:before {
    content: '\e75e' !important
}
.sp-button {
    width: 12px;
    height: 12px;
    background: #e1e5e6;
    border: none;
    margin: 2px;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.sp-button:hover,
.sp-selected-button {
    background: #ef5f60
}
.sp-selected-thumbnail {
    border-bottom: 3px solid #ef5f60
}
.sp-grab {
    cursor: url(style/images/openhand.cur), move
}
.sp-grabbing {
    cursor: url(style/images/closedhand.cur), move
}
.sp-thumbnails {
    margin-top: 6px
}
.sp-top-thumbnails .sp-thumbnail-container,
.sp-bottom-thumbnails .sp-thumbnail-container {
    margin-left: 3px;
    margin-right: 3px;
}
.sp-white {
    background: white
}
.slider-pro h4 {
    color: #4d4d4d
}
.slider-pro p {
    color: #707070
}
.blog-slider {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
/*-----------------------------------------------------------------------------------*/
/*	08. BASIC GALLERY
/*-----------------------------------------------------------------------------------*/
.basic-gallery {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}
.basic-gallery li {
    display: block;
    width: 100%;
    margin-top: 50px;
}
.basic-gallery li:first-child {
    margin-top: 0
}
.basic-gallery li img {
    display: inline;
    max-width: 100%;
    height: auto;
}
/*-----------------------------------------------------------------------------------*/
/*	09. SERVICES
/*-----------------------------------------------------------------------------------*/
.services-1 .col-wrapper {
    padding: 0 10px
}
.icon-wrapper {
    background: #eeeeee;
    margin: 0 auto 35px;
    display: table;
    position: relative;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.icon-wrapper .icon {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: auto;
}
.services-1 .col-wrapper:hover .icon-wrapper {
    background: #e7e7e7
}
/*-----------------------------------------------------------------------------------*/
/*	10. BLOG
/*-----------------------------------------------------------------------------------*/
.latest-blog-wrapper {
    overflow: hidden
}
.latest-blog .post {
    float: left;
    margin-bottom: 50px;
}
.latest-blog .image-wrapper {
    width: 180px;
    float: left;
}
.latest-blog .post-content {
    overflow: hidden
}
.latest-blog .post p {
    margin: 0
}
.post:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
figure.main {
    margin-top: 20px;
    margin-bottom: 20px;
}
.grid-view figure.main {
    margin-top: 0
}
.grid-view .post {
    margin-bottom: 65px
}
figure.main img {
    width: 100%
}
.single figure {
    margin-bottom: 20px
}
.meta {
    font-size: 17px;
    font-family: 'bebas_neue_regularregular';
    letter-spacing: 1px;
    color: #9f9f9f;
    font-weight: normal;
    margin-bottom: 10px;
}
.meta a {
    color: #9f9f9f
}
.meta a:hover {
    color: #ef5f60
}
.meta span {
    position: relative;
    margin: 0 7px 0 0;
}
.meta span:before {
    display: inline-block;
    content: "/";
    padding-right: 7px;
}
.meta span:first-child:before {
    display: none
}
.post-list .meta span:first-child:before {
    display: inline-block
}
.meta.tags a:before {
    content: "#";
    display: inline-block;
}
.classic-blog .post,
.col-blog .post {
    margin-bottom: 90px
}
.format-chat ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}
.format-chat ul li {
    margin-bottom: 5px
}
.format-chat ul li strong {
    font-family: 'bebas_neuebold';
    color: #4d4d4d;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 17px;
}
.format-link .post-title a:after {
    display: inline-block;
    content: "→";
    padding-left: 10px;
}
.sidebar {
    padding-left: 45px !important
}
.sidebar.left-sidebar {
    padding: 15px !important;
    padding-top: 0 !important;
}
.sidebox {
    margin-top: 60px;
    display: block;
}
.sidebox:first-child {
    margin: 0
}
.sidebox .section-title {
    font-size: 18px;
    letter-spacing: 1px;
}
.widget .post-list {
    padding: 0;
    margin: 0;
}
.widget .post-list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.widget .post-list li {
    clear: both;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}
.widget .post-list h5 {
    margin: 0;
    font-family: 'bebas_neuebold' !important;
    color: #4d4d4d;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
}
.sidebox .post-list h5 a {
    color: #4d4d4d
}
.sidebox a {
    color: #707070
}
.sidebox a:hover {
    color: #ef5f60 !important
}
.widget .post-list .icon-overlay {
    float: left;
    width: 70px;
    height: 70px;
}
.widget .post-list .icon-overlay a .icn-more:before {
    border: 0
}
.widget .post-list .meta {
    margin-left: 85px;
    margin-bottom: 0;
}
.widget .post-list .meta em {
    font-size: 16px;
    font-family: 'bebas_neue_regularregular';
    letter-spacing: 1px;
    color: #9f9f9f;
    font-weight: normal;
    margin-bottom: 10px;
    font-style: normal;
}
.widget .post-list .meta em a {
    color: #9f9f9f
}
.widget .post-list .meta em:before {
    display: none
}
.sidebox.widget form {
    margin: 0
}
.sidebox.widget .searchform input {
    margin: 0
}
.widget .list {
    list-style: none;
    margin: 0;
}
ul.tag-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.tag-list li {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 6px;
    background: none;
}
ul.tag-list li a {
    padding: 0;
    margin: 0;
    color: #4d4d4d;
    background: #eeeeee;
    display: inline-block;
    padding: 10px 17px 10px;
    font-family: 'bebas_neuebold';
    font-size: 15px;
    letter-spacing: 1px;
}
ul.tag-list li a:hover {
    background: #ef5f60;
    color: #FFF !important;
    text-decoration: none;
}
.pagination {
    display: block;
    margin: 0;
}
.pagination ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination ul > li {
    display: inline-block
}
.pagination ul > li > a,
.pagination ul > li > span {
    float: none;
    padding: 10px 17px 11px;
    margin-right: 2px;
}
.pagination ul > .active > a span {
    border-bottom: 1px solid #FFF;
    padding-bottom: 1px;
}
.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {

}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {

}
/*-----------------------------------------------------------------------------------*/
/*	11. AUTHOR
/*-----------------------------------------------------------------------------------*/
.about-author {
    padding: 30px
}
.about-author .author-image {
    width: 120px;
    float: left;
    margin-right: 20px;
    display: block;
}
.about-author .author-details {
    overflow: hidden
}
.about-author .author-details .social {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*-----------------------------------------------------------------------------------*/
/*	12. COMMENTS
/*-----------------------------------------------------------------------------------*/
#comments {
    margin: 0;
    position: relative;
}
#comments ol.commentlist {
    list-style: none;
    padding: 0;
}
#comments ol.commentlist li {

}
.comment-wrapper {
    background: #eeeeee;
    padding: 30px 30px 15px 30px;
    margin-bottom: 20px;
}
#comments .user {
    float: left;
    width: 70px;
    height: 70px;
    position: relative;
}
#comments .message {
    overflow: hidden
}
#comments .arrow-box {
    margin-left: 20px;
    position: relative;
}
#comments ul.children {
    margin: 0;
    overflow: inherit;
    padding: 0 0 0 55px;
    list-style: none;
}
#comments ol.commentlist ul.children li {
    padding-right: 0
}
#comments .info h2 {
    font-size: 18px;
    margin: 0;
    display: inline;
    margin-right: 5px;
}
#comments .info {
    margin-bottom: 14px
}
#comments .info h2 a {
    color: #4d4d4d
}
#comments .info h2 a:hover {
    color: #ef5f60
}
#comments .info .meta {
    display: block;
    margin: 0;
}
#comments .info .meta .date {
    display: inline
}
#comments a.reply-link {
    display: inline;
    color: #9f9f9f;
}
#comments a.reply-link:hover {
    color: #ef5f60
}
.comment-form-wrapper p {
    padding-bottom: 20px
}
/*-----------------------------------------------------------------------------------*/
/*	13. FORMS
/*-----------------------------------------------------------------------------------*/
.forms {
    position: relative;
    padding: 0;
    width: 100%;
}
.form-container .response {
    display: none
}
.form-container .row {
    margin-right: -8px;
    margin-left: -8px;
}
.form-container [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}
.forms ol {
    margin: 0;
    padding: 0;
}
.forms ol li {
    line-height: auto;
    list-style: none;
    position: relative;
}
.forms li.hidden-row {
    display: none
}
input,
textarea,
.uneditable-input {
    width: 100%
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 42px;
    padding: 0 10px 0 40px;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 26px;
    color: #a3a3a3;
    border: 0;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 0;
    background: #e7e7e7;
    color: #707070;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    height: 100%;
    padding: 5px 10px;
    margin-bottom: 16px;
    min-height: 150px;
    resize: vertical;
}
.btn-submit {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width: auto;
}
.forms li.error input,
.forms li.error textarea {
    background: #eea5a5
}
.forms span.error {
    display: none
}
.forms .button-row span.error {
    padding: 0;
    display: none;
}
.forms .button-row p.forgot {
    padding: 6px 0 0 10px;
    overflow: hidden;
    display: inline-block;
}
.searchform,
.comment-form div {
    position: relative
}
.forms label {
    position: absolute;
    top: 7px;
    left: 22px;
    color: #a3a3a3;
    font-weight: normal;
}
.searchform label,
.comment-form div label {
    position: absolute;
    top: 7px;
    left: 13px;
    color: #a3a3a3;
    font-weight: normal;
}
.form-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.searchform .btn {
    position: absolute;
    top: 0;
    right: -5px;
    height: 42px !important;
    font-weight: normal !important;
    font-size: 16px !important;
    padding: 0 15px !important;
}
/*-----------------------------------------------------------------------------------*/
/*	 14. TOOLTIP
/*-----------------------------------------------------------------------------------*/
.tooltip {
    font-size: 14px
}
.tooltip-inner {
    color: #fff;
    background-color: #ef5f60;
    padding: 5px 12px 5px;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #ef5f60
}
.tooltip.right .tooltip-arrow {
    border-right-color: #ef5f60
}
.tooltip.left .tooltip-arrow {
    border-left-color: #ef5f60
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #ef5f60
}
/*-----------------------------------------------------------------------------------*/
/*	15. TABS
/*-----------------------------------------------------------------------------------*/
.tabs-top .etabs {
    margin: 0 0 -6px 0;
    padding: 0;
    overflow: inherit;
}
.tabs-top .tab {
    margin: 0;
    padding: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 3px;
    margin-bottom: 6px;
}
.tabs-top .tab a {
    padding: 10px 15px 10px;
    display: block;
    border: none;
    font-family: 'bebas_neuebold';
    margin-top: 0;
    color: #4d4d4d;
    background: #eeeeee;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #fff;
    background: #ef5f60;
}
.tabs-top.tab-container .panel-container {
    position: relative;
    z-index: 1;
    display: block;
}
.tabs-top.tab-container .panel-container p {

}
.tabs-top.tab-container .panel-container .tab-block {
    padding-top: 20px
}
/*-----------------------------------------------------------------------------------*/
/*	16. ACCORDION / TOGGLE
/*-----------------------------------------------------------------------------------*/
.panel-group .panel {
    margin-bottom: 10px;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 1px;
}
.panel-heading {
    padding: 0;
    background: none !important;
    border: 0 !important;
}
.panel-heading .panel-title {
    font-family: 'bebas_neuebold';
    margin-top: 0;
    color: #4d4d4d;
    background: #eeeeee;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
}
.panel-title > a {
    display: block;
    color: #4d4d4d;
    padding: 11px 15px 11px;
}
.panel-title > a:hover,
.panel-active a {
    background: #ef5f60;
    color: #FFF;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: 0;
    padding: 20px 0 5px 0;
}
.panel-default > .panel-heading + .panel-collapse {
    background: #FFF
}
/*-----------------------------------------------------------------------------------*/
/*	17. PROGRESS BAR
/*-----------------------------------------------------------------------------------*/
.progress-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.progress-list p {
    margin-bottom: 5px
}
.progress-list li {
    margin-bottom: 20px
}
.progress-list li em {
    padding-left: 8px;
    color: #ef5f60;
    font-style: normal;
}
.progress-list li em:before {
    content: "-";
    padding-right: 10px;
    display: inline-block;
}
.progress.plain {
    height: 15px;
    margin-bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.progress.plain .bar {
    float: left;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
    background: #ef5f60;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*-----------------------------------------------------------------------------------*/
/*	18. PRICING TABLE
/*-----------------------------------------------------------------------------------*/
.pricing {
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    display: block;
}
.pricing ul {
    padding: 0
}
.pricing .btn {
    margin: 0
}
.pricing .plan {
    background: #eeeeee;
    padding: 10px 0;
}
.pricing .plan h3 {
    font-size: 22px;
    line-height: 40px;
    margin: 0;
    padding: 15px 0 0 0;
    color: #4d4d4d;
}
.pricing .plan h4 {
    padding: 0 0 25px 0;
    margin: 0 25px;
}
.pricing .plan h4 span {
    color: #ef5f60
}
.pricing .plan h4 .amount {
    display: block;
    text-align: center;
}
.pricing .plan h4 .amount {
    font-size: 45px;
    padding-bottom: 10px;
}
.pricing .plan h4 .amount span {
    vertical-align: super;
    font-size: 20px;
    font-weight: 400;
}
.pricing .plan ul {
    margin: 15px 0 0 0;
    padding: 0 25px;
    list-style: none;
}
.pricing .plan ul li {
    padding: 5px 0
}
.pricing .plan ul li:last-child {
    padding-bottom: 20px
}
.pricing .plan h3 {
    text-transform: uppercase
}
.pricing .select {
    padding: 27px 0
}
/*-----------------------------------------------------------------------------------*/
/*	19. PARALAX
/*-----------------------------------------------------------------------------------*/
.parallax {
    background: url(style/images/parallax1.jpg) fixed no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: static;
    color: #FFF;
}
.parallax .inner {
    padding-top: 130px;
    padding-bottom: 130px;
}
.parallax a {
    color: #ef5f60
}
.parallax h2 {
    font-size: 28px;
    line-height: 34px;
}
.parallax .lead {
	color: #FFF;
}
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
    color: #fff
}
.parallax.mobile {
    background-attachment: scroll !important
}
.parallax.parallax1 {
    background-image: url(style/images/parallax1.jpg)
}
.parallax.parallax2 {
    background-image: url(style/images/parallax2.jpg)
}
.parallax.parallax3 {
    background-image: url(style/images/parallax3.jpg)
}
/*-----------------------------------------------------------------------------------*/
/*	20. SOCIAL ICONS
/*-----------------------------------------------------------------------------------*/
.social {
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 1;
}
.social li {
    display: inline-block;
    font-family: 'fontello-social';
    margin-right: 5px;
    margin-bottom: 5px;
}
.text-center .social li {
    margin: 0 3px
}
.social.pull-right li {
    margin: 0 0 0 5px
}
.social li a {
    display: table
}
.social li a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    opacity: 1;
}
.social .icon-s-pinterest {
    background-color: #c53942
}
.social .icon-s-rss {
    background-color: #e86f04
}
.social .icon-s-facebook {
    background-color: #4470cf
}
.social .icon-s-twitter {
    background-color: #5daed5
}
.social .icon-s-flickr {
    background-color: #ff0088
}
.social .icon-s-dribbble {
    background-color: #d07ead
}
.social .icon-s-behance {
    background-color: #098ffa
}
.social .icon-s-linkedin {
    background-color: #3393c1
}
.social .icon-s-vimeo {
    background-color: #099fc7
}
.social .icon-s-youtube {
    background-color: #c8312b
}
.social .icon-s-skype {
    background-color: #2ebbf0
}
.social .icon-s-tumblr {
    background-color: #5d82a4
}
.social .icon-s-delicious {
    background-color: #3274d1
}
.social .icon-s-500px {
    background-color: #00a6df
}
.social .icon-s-grooveshark {
    background-color: #f66c00
}
.social .icon-s-forrst {
    background-color: #2f7935
}
.social .icon-s-digg {
    background-color: #1b5891
}
.social .icon-s-blogger {
    background-color: #fc6605
}
.social .icon-s-klout {
    background-color: #d8390f
}
.social .icon-s-dropbox {
    background-color: #016aab
}
.social .icon-s-github {
    background-color: #4073a6
}
.social .icon-s-songkick {
    background-color: #ff0030
}
.social .icon-s-posterous {
    background-color: #eac954
}
.social .icon-s-appnet {
    background-color: #0291c9
}
.social .icon-s-gplus {
    background-color: #a84539
}
.social .icon-s-stumbleupon {
    background-color: #eb4923
}
.social .icon-s-lastfm {
    background-color: #be0c02
}
.social .icon-s-spotify {
    background-color: #7cc011
}
.social .icon-s-instagram {
    background-color: #a4765c
}
.social .icon-s-evernote {
    background-color: #82d15c
}
.social .icon-s-paypal {
    background-color: #2a608e
}
.social .icon-s-picasa {
    background-color: #9864ae
}
.social .icon-s-soundcloud {
    background-color: #ff680d
}
.social a:hover .icon-s-pinterest {
    background-color: #b0363e
}
.social a:hover .icon-s-rss {
    background-color: #cf6508
}
.social a:hover .icon-s-facebook {
    background-color: #4066b9
}
.social a:hover .icon-s-twitter {
    background-color: #569cbe
}
.social a:hover .icon-s-flickr {
    background-color: #e3057b
}
.social a:hover .icon-s-dribbble {
    background-color: #ba729b
}
.social a:hover .icon-s-behance {
    background-color: #0d81de
}
.social a:hover .icon-s-linkedin {
    background-color: #3185ad
}
.social a:hover .icon-s-vimeo {
    background-color: #0d8fb2
}
.social a:hover .icon-s-youtube {
    background-color: #b32f2a
}
.social a:hover .icon-s-skype {
    background-color: #2da8d6
}
.social a:hover .icon-s-tumblr {
    background-color: #567694
}
.social a:hover .icon-s-delicious {
    background-color: #306abb
}
.social a:hover .icon-s-500px {
    background-color: #0595c7
}
.social a:hover .icon-s-grooveshark {
    background-color: #db6305
}
.social a:hover .icon-s-forrst {
    background-color: #2e6e33
}
.social a:hover .icon-s-digg {
    background-color: #1c5183
}
.social a:hover .icon-s-blogger {
    background-color: #e05e09
}
.social a:hover .icon-s-klout {
    background-color: #c13612
}
.social a:hover .icon-s-dropbox {
    background-color: #06619a
}
.social a:hover .icon-s-github {
    background-color: #3d6995
}
.social a:hover .icon-s-songkick {
    background-color: #e3052f
}
.social a:hover .icon-s-posterous {
    background-color: #d1b44e
}
.social a:hover .icon-s-appnet {
    background-color: #0783b4
}
.social a:hover .icon-s-gplus {
    background-color: #974136
}
.social a:hover .icon-s-stumbleupon {
    background-color: #d14423
}
.social a:hover .icon-s-lastfm {
    background-color: #aa0f07
}
.social a:hover .icon-s-spotify {
    background-color: #71ac14
}
.social a:hover .icon-s-instagram {
    background-color: #946c55
}
.social a:hover .icon-s-evernote {
    background-color: #76bb55
}
.social a:hover .icon-s-paypal {
    background-color: #295880
}
.social a:hover .icon-s-picasa {
    background-color: #895c9c
}
.social a:hover .icon-s-soundcloud {
    background-color: #e35f10
}
/*-----------------------------------------------------------------------------------*/
/*	21. FANCYBOX
/*-----------------------------------------------------------------------------------*/
#fancybox-thumbs ul {
    max-width: 10000px  !important
}
.info.hidden {
    display: none
}
.fancybox-wrap {
    background: #FFF !important
}
.fancybox-title,
.fancybox-error {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px !important;
    line-height: 26px !important;
    font-weight: normal !important;
    color: #707070;
}
.fancybox-title h2,
.fancybox-title h3 {
    margin-bottom: 5px;
    font-family: 'bebas_neuebold';
    margin-top: 0;
    color: #4d4d4d;
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}
.fancybox-skin {
    color: #707070 !important
}
.fancybox-title-inside-wrap {
    padding: 20px !important
}
.fancybox-nav span {
    width: 36px !important;
    height: 36px !important;
    margin-top: -18px !important;
}
.fancybox-close {
    top: 10px !important;
    right: 10px !important;
    width: 36px !important;
    height: 36px !important;
}
.fancybox-close:before,
.fancybox-prev span:before,
.fancybox-next span:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0 !important;
    margin-top: 5px !important;
    text-align: center;
    width: 36px !important;
    font-size: 20px !important;
}
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background: #FFF !important;
    color: #595959 !important;
    text-align: center !important;
    -webkit-transition: all 200ms ease-in !important;
    -o-transition: all 200ms ease-in !important;
    -moz-transition: all 200ms ease-in !important;
    opacity: 0;
}
.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
    color: #FFF !important;
    background: #ef5f60 !important;
}
.fancybox-wrap:hover .fancybox-close,
.fancybox-wrap:hover .fancybox-prev span,
.fancybox-wrap:hover .fancybox-next span {
    opacity: 1
}
.fancybox-prev span:before {
    content: '\e75d'
}
.fancybox-next span:before {
    content: '\e75e'
}
.fancybox-close:before {
    content: '\2715'
}
#fancybox-loading {
    margin-top: -18px !important;
    margin-left: -18px !important;
    opacity: 1 !important;
}
#fancybox-loading div {
    height: 36px !important;
    width: 36px !important;
    position: relative !important;
    -webkit-animation: rotation .8s infinite linear !important;
    -moz-animation: rotation .8s infinite linear !important;
    -o-animation: rotation .8s infinite linear !important;
    animation: rotation .8s infinite linear !important;
    border-left: 3px solid rgba(239, 95, 96,.15) !important;
    border-right: 3px solid rgba(239, 95, 96,.15) !important;
    border-bottom: 3px solid rgba(239, 95, 96,.15) !important;
    border-top: 3px solid rgba(239, 95, 96,.8) !important;
    border-radius: 100% !important;
}
.fancybox-overlay {
    background: rgba(27,27,27,0.94) !important
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    box-shadow: 0 0 5px rgba(0,0,0,0.33);
}
/*-----------------------------------------------------------------------------------*/
/*	22. FEATURES
/*-----------------------------------------------------------------------------------*/
.font-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}
.font-icons li {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.alert .close {
    line-height: 28px
}
.retina-icons-code i {
    font-size: 18px
}
.retina-icons-code tr td:first-child,
.retina-icons-code tr th:first-child {
    text-align: center
}
.retina-icons-code code {
    color: #707070;
    background: none;
    white-space: normal;
}
.table-bordered {
    border: 1px solid rgba(0,0,0,0.1);
    border-left: none;
    background: #fff;
}
.table-bordered th,
.table-bordered td {
    border-left: 1px solid rgba(0,0,0,0.1)
}
.retina-icons-code td {
    vertical-align: middle !important
}
.table th,
.table td {
    border-top: 1px solid rgba(0,0,0,0.1)
}
.flats {
    margin-bottom: -50px
}
.flats .col-sm-2 {
    height: 160px
}
/*-----------------------------------------------------------------------------------*/
/*	23. DIVIDERS
/*-----------------------------------------------------------------------------------*/
.divide0 {
    width: 100%;
    height: 0px;
}
.divide2 {
    width: 100%;
    height: 2px;
}
.divide3 {
    width: 100%;
    height: 3px;
}
.divide5 {
    width: 100%;
    height: 5px;
}
.divide10 {
    width: 100%;
    height: 10px;
}
.divide15 {
    width: 100%;
    height: 15px;
}
.divide20 {
    width: 100%;
    height: 20px;
}
.divide25 {
    width: 100%;
    height: 25px;
}
.divide30 {
    width: 100%;
    height: 30px;
}
.divide35 {
    width: 100%;
    height: 35px;
}
.divide40 {
    width: 100%;
    height: 40px;
}
.divide45 {
    width: 100%;
    height: 40px;
}
.divide50 {
    width: 100%;
    height: 50px;
}
.divide55 {
    width: 100%;
    height: 55px;
}
.divide60 {
    width: 100%;
    height: 60px;
}
.divide65 {
    width: 100%;
    height: 65px;
}
.divide70 {
    width: 100%;
    height: 70px;
}
.divide75 {
    width: 100%;
    height: 75px;
}
.divide80 {
    width: 100%;
    height: 80px;
}
.divide85 {
    width: 100%;
    height: 85px;
}
.divide100 {
    width: 100%;
    height: 100px;
}
.rm0 {
    margin-right: 0px
}
.rm1 {
    margin-right: 1px
}
.rm2 {
    margin-right: 2px
}
.rm5 {
    margin-right: 5px
}
.rm6 {
    margin-right: 6px
}
.rm10 {
    margin-right: 10px
}
.rm15 {
    margin-right: 15px
}
.rm20 {
    margin-right: 20px
}
.rm25 {
    margin-right: 25px
}
.rm30 {
    margin-right: 30px
}
.rm40 {
    margin-right: 40px
}
.rm50 {
    margin-right: 50px
}
.lm0 {
    margin-left: 0px
}
.lm1 {
    margin-left: 1px
}
.lm5 {
    margin-left: 5px
}
.lm7 {
    margin-left: 7px
}
.lm10 {
    margin-left: 10px
}
.lm15 {
    margin-left: 15px
}
.lm20 {
    margin-left: 20px
}
.lm25 {
    margin-left: 25px
}
.lm30 {
    margin-left: 25px
}
.lm40 {
    margin-left: 40px
}
.rp5 {
    padding-right: 5px
}
.rp10 {
    padding-right: 10px
}
.rp15 {
    padding-right: 15px
}
.rp20 {
    padding-right: 20px
}
.rp30 {
    padding-right: 30px
}
.rp50 {
    padding-right: 50px
}
.lp0 {
    padding-left: 0px
}
.lp10 {
    padding-left: 10px
}
.lp20 {
    padding-left: 20px
}
.lp30 {
    padding-left: 30px
}
.tp0 {
    padding-top: 0 !important
}
.tp3 {
    padding-top: 3px
}
.tp5 {
    padding-top: 5px
}
.tp10 {
    padding-top: 10px
}
.tp20 {
    padding-top: 20px
}
.tp25 {
    padding-top: 25px
}
.tp30 {
    padding-top: 30px
}
.tp40 {
    padding-top: 40px
}
.tm4 {
    margin-top: 4px
}
.tm5 {
    margin-top: 5px
}
.tm7 {
    margin-top: 7px
}
.tm10 {
    margin-top: 10px
}
.tm15 {
    margin-top: 15px
}
.tm20 {
    margin-top: 20px
}
.tm40 {
    margin-top: 40px
}
.mbm1 {
    margin-bottom: -1px
}
.bp0 {
    padding-bottom: 0 !important
}
.bp10 {
    padding-bottom: 10px !important
}
.bp20 {
    padding-bottom: 20px !important
}
.bm0 {
    margin-bottom: 0 !important
}
.bm5 {
    margin-bottom: 5px !important
}
.bm6 {
    margin-bottom: 6px !important
}
.bm10 {
    margin-bottom: 10px !important
}
.bm15 {
    margin-bottom: 15px !important
}
.bm20 {
    margin-bottom: 20px !important
}
.bm25 {
    margin-bottom: 25px !important
}
.bm30 {
    margin-bottom: 30px !important
}
.bm50 {
    margin-bottom: 50px !important
}
.bp50 {
    padding-bottom: 50px !important
}
/*-----------------------------------------------------------------------------------*/
/*	24. RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1950px) { 
	.full-portfolio .isotope .item,
	.full-portfolio .isotope .grid-sizer {
	    width: 16.666666667%
	}
}
@media (min-width: 992px) and (max-width: 1199px) { 
	.full-portfolio .isotope .item,
	.full-portfolio .isotope .grid-sizer {
	    width: 25%
	}
}
@media (min-width: 992px) { 
	.nav.navbar-nav > li:last-of-type > ul {
	    left: auto;
	    right: 0;
	}
	.nav.navbar-nav> li:last-of-type > ul ul {
	    left: auto;
	    right: 100%;
	    margin-top: -1px;
	    margin-right: -1px;
	    border-right: 1px solid rgba(0,0,0, 0.15) !important;
	}
	.navbar .dropdown-submenu > a:after {
	    display: none
	}
	.navbar .dropdown-submenu > .dropdown-menu:before {
	    display: none
	}
	.navbar .dropdown-submenu > .dropdown-menu {
	    margin-top: 0;
	    padding-top: 0;
	}
	.dropdown-submenu {
	    position: relative
	}
	.dropdown-submenu>.dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-left: 0;
	}
	.dropdown-submenu>.dropdown-menu li {
	    border-left: 1px solid rgba(0,0,0, 0.15) !important
	}
	.dropdown-submenu:hover>.dropdown-menu {
	    display: block
	}
	.dropdown-submenu>a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    margin-top: 5px;
	    margin-right: -10px;
	}
	.dropdown-submenu:hover>a:after {

	}
	.dropdown-submenu.pull-left {
	    float: none
	}
	.dropdown-submenu.pull-left>.dropdown-menu {
	    left: -100%;
	    margin-left: 10px;
	}
	.open > .dropdown-menu,
	.open > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
	    animation-name: slidenavAnimation;
	    animation-duration: .3s;
	    animation-iteration-count: 1;
	    animation-timing-function: ease;
	    animation-fill-mode: forwards;
	    -webkit-animation-name: slidenavAnimation;
	    -webkit-animation-duration: .3s;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-timing-function: ease;
	    -webkit-animation-fill-mode: forwards;
	    -moz-animation-name: slidenavAnimation;
	    -moz-animation-duration: .3s;
	    -moz-animation-iteration-count: 1;
	    -moz-animation-timing-function: ease;
	    -moz-animation-fill-mode: forwards;
	}
	@keyframes slidenavAnimation {
	    from {
	        opacity: 0
	    }
	    to {
	        opacity: 1
	    }
	}
	@-webkit-keyframes slidenavAnimation {
	    from {
	        opacity: 0
	    }
	    to {
	        opacity: 1
	    }
	}
}
@media (max-width: 991px) { 
	.navbar-brand {
	    position: relative;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    margin: 0;
	}
	.btn.responsive-menu {
	    display: block
	}
	.navbar .nav,
	.navbar .dropup,
	.navbar .dropdown,
	.navbar .collapse {
	    position: relative
	}
	.navbar .dropdown-menu {
	    position: relative;
	    left: inherit;
	    top: inherit;
	    float: none;
	    width: auto;
	    display: block !important;
	    background: none;
	    padding: 0;
	}
	.navbar .dropdown-menu li {
	    border: none
	}
	.navbar-nav > li > a,
	.navbar .dropdown-menu li a,
	.navbar li a:hover {
	    border-top: 1px solid rgba(0,0,0, 0.15)
	}
	.navbar-nav > li:first-child > a {
	    border-top: none
	}
	.navbar .nav .open > a,
	.navbar .nav .open > a:hover,
	.navbar .nav .open > a:focus {
	    background: none;
	    border-color: rgba(0,0,0, 0.15);
	}
	.navbar-nav > li > a,
	.navbar .dropdown-menu li a,
	.navbar .dropdown-menu li a:hover,
	.navbar .dropdown-menu li a.active {
	    padding: 12px 0 !important
	}
	.navbar-nav .open .dropdown-menu > li > a {
	    line-height: 1
	}
	.navbar-nav > li > a,
	.navbar-nav > li > a:focus {

	}
	.navbar-nav > li > a,
	.navbar .dropdown-menu li a {
	    color: #FFF !important
	}
	.navbar .dropdown-menu {
	    padding-left: 20px
	}
	.navbar-nav > li {
	    border: none
	}
	.navbar .btn.responsive-menu {
	    margin: 53px 0
	}
	.navbar.fixed .btn.responsive-menu {
	    margin: 13px 0
	}
	.navbar-header {
	    float: left;
	    width: 100%;
	    background: #FFF !important;
	}
	.navbar-header:after {
	    content: '';
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	.navbar .container {
	    width: 100%;
	    padding: 0;
	}
	.navbar .navbar-collapse {
	    width: 100%;
	    float: none !important;
	    margin: 0;
	    max-height: none;
	    text-align: left;
	    overflow: hidden;
	    background: #38393b;
	}
	.navbar .navbar-nav {
	    width: 720px;
	    margin: 20px auto 0;
	    padding: 0;
	}
	.navbar .basic-wrapper {
	    width: 720px;
	    margin: 0 auto;
	    display: block;
	    text-align: center;
	}
	figure img {
	    width: 100%
	}
	.navbar .dropdown-menu:before,
	.navbar li.social-dropdown {
	    display: none !important
	}
	.navbar .dropdown-menu li {
	    background: none
	}
	footer p.pull-left,
	footer ul.pull-right {
	    float: none !important;
	    text-align: center;
	}
	.sub-footer p {
	    margin-bottom: 10px !important
	}
}
@media (min-width: 768px) and (max-width: 991px) { 
	.container {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.full-portfolio .isotope .item,
	.full-portfolio .isotope .grid-sizer,
	.classic-masonry .isotope .item {
	    width: 33.3339%
	}
}
@media (max-width: 767px) { 
	.full-portfolio .isotope .item,
	.full-portfolio .isotope .grid-sizer,
	.classic-masonry .isotope .item {
	    width: 100%
	}
	.container {
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.navbar .container {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	.navbar .navbar-nav {
	    width: 100%;
	    margin: 20px auto 0;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.navbar .basic-wrapper {
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	    margin: 0 auto;
	    display: block;
	}
	.navbar .navbar-nav > li {
	    margin-left: 0
	}
	[class*="col-"] {
	    margin-bottom: 30px
	}
	footer [class*="col-"]:last-of-type {
		margin-bottom: 0;
	}
	.forms [class*="col-"] {
	    margin-bottom: 0px
	}
	.services-1 .divide30 {
	    display: none
	}
	#comments .user {
	    display: none
	}
	#comments ul.children {
	    padding: 0 0 0 20px
	}
	#comments .arrow-box {
	    margin-left: 0
	}
	.about-author .author-image {
	    display: none
	}
	.sidebar {
	    margin-top: 70px;
	    padding-left: 15px !important;
	}
	.dropdown.pull-right {
	    display: block;
	    padding: 10px 0 5px !important;
	    float: none !important;
	    clear: both;
	}
	.portfolio .pull-right>.dropdown-menu {
	    left: 0 !important;
	    right: auto;
	}
	.portfolio .button-group.dropdown-menu:before {
	    left: 15px;
	    right: auto;
	}
	[class*="col-sm-"].lp30 {
	    padding-left: 15px
	}
	.navbar.fixed .navbar-collapse .navbar-nav {
	    max-height: 230px !important;
	    overflow-y: scroll;
	}
}
